<div *ngIf="catches$ | async as catches">
  <div *ngIf="catches.length > 0; else noData" class="catch-list">
    <div *ngFor="let fishy of catches" class="catch-item" (click)="viewTrip(fishy.tripId)">
      <img
        class="fish-img"
        [src]="getFishImage(fishy.fishName)"
        alt="fish"
      />
      <div class="catch-info">
        <div class="species">{{ fishy.fishName }}</div>
        <div class="details">
          <span>{{ fishy.weight }} lbs</span>
          <span class="divider">|</span>
          <span>{{ fishy.length }} inches</span>
        </div>
      </div>
      <button class="delete-btn"
              (click)="deleteCatch(fishy.id); $event.stopPropagation()">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<button class="log-btn" (click)="addCatch.emit()">Log a Catch</button>

<ng-template #noData>
  No recent catches
</ng-template>
