body, html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  font-family: 'Inter', sans-serif;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
